#### Import Necessary Libraries

In [139]:
import pandas as pd
import plotly.express as px

#### Import Datasets

In [6]:
df = pd.read_csv("datasets/lego_sets.csv")
themes = pd.read_csv("datasets/parent_themes.csv")
df.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [7]:
themes.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

### Task 1: What percentage of all Licensed sets ever releases were Star Wars themed?
NB: Save your answer as a variable 'the_force' in the form of an integer (e.g. 25)

In [53]:
# Merge the datasets 
merged = df.merge(themes, left_on= 'parent_theme', right_on='name')
merged

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False
...,...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,Ben 10,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,Ben 10,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,Ben 10,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,Ben 10,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,Ben 10,True

In [54]:
# NB: Parent_theme and name_y are the same, drop duplicate column
merged.drop(columns = 'name_y', inplace = True)
merged

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False
...,...,...,...,...,...,...,...,...
11981,8410-1,Swampfire,2010,22.0,Ben 10,Ben 10,270,True
11982,8411-1,ChromaStone,2010,21.0,Ben 10,Ben 10,270,True
11983,8517-1,Humungousaur,2010,14.0,Ben 10,Ben 10,270,True
11984,8518-1,Jet Ray,2010,NaN,Ben 10,Ben 10,270,True
11985,8519-1,Big Chill,2010,20.0,Ben 10,Ben 10,270,True

In [58]:
# NB: The set_num value is critical and a missing value indicates that the set is a duplicate or invalid!
# Let's drop all null values from the set_num

merged[merged['set_num'].isnull()].shape

(153, 8)

In [77]:
# Filter for where the is_licensed is True in the dataframe
licensed = merged[merged['is_licensed']]
licensed = licensed.dropna(subset = ['set_num'])
licensed
# licensed.shape[0]

# Filter for only the Star Wars in the parent_theme
starWars = licensed[licensed['parent_theme'] == 'Star Wars']
# starWars.shape[0]
the_force = int(starWars.shape[0]/licensed.shape[0] * 100)
the_force

51

### Task 2: In which year was Star Wars not the most popular licensed theme (in terms of number of sets released that year)?
Save your answer as a variable 'new_era' in the form of an integer (e.g. 2012)

In [78]:
licensed.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
3493,10018-1,Darth Maul,2001,1868.0,Star Wars,Star Wars,158,True
3494,10019-1,Rebel Blockade Runner - UCS,2001,NaN,Star Wars Episode 4/5/6,Star Wars,158,True
3495,10026-1,Naboo Starfighter - UCS,2002,NaN,Star Wars Episode 1,Star Wars,158,True
3496,10030-1,Imperial Star Destroyer - UCS,2002,3115.0,Star Wars Episode 4/5/6,Star Wars,158,True
3497,10123-1,Cloud City,2003,707.0,Star Wars Episode 4/5/6,Star Wars,158,True

In [93]:
# Sort values by year
licensed['count'] = 1
licensed_sorted = licensed.sort_values('year')


# Lets group by year
summed_df = licensed_sorted.groupby(['year', 'parent_theme']).sum().reset_index()
max_df = summed_df.sort_values('count', ascending = False).drop_duplicates(['year'])
max_df.sort_values('year', inplace = True)
max_df

    year  parent_theme  num_parts     id  is_licensed  count
0   1999     Star Wars     1384.0   2054         13.0     13
2   2000     Star Wars     2580.0   4108         26.0     26
4   2001     Star Wars     2949.0   2212         14.0     14
6   2002     Star Wars     4735.0   4424         28.0     28
9   2003     Star Wars     6660.0   5056         32.0     32
12  2004     Star Wars     1659.0   3160         20.0     20
16  2005     Star Wars     4730.0   4424         28.0     28
20  2006     Star Wars     2769.0   1738         11.0     11
24  2007     Star Wars    11361.0   2528         16.0     16
28  2008     Star Wars     6865.0   3634         23.0     23
32  2009     Star Wars     3953.0   6162         39.0     39
36  2010     Star Wars     6003.0   4740         30.0     30
42  2011     Star Wars     3451.0   5056         32.0     32
47  2012     Star Wars     6769.0   6794         43.0     43
52  2013     Star Wars     6159.0   5530         35.0     35
59  2014     Star Wars     8293.0   7110         45.0     45
67  2015     Star Wars    11410.0   9164         58.0     58
76  2016     Star Wars     6934.0   9638         61.0     61
82  2017  Super Heroes    13123.0  34704         72.0     72

In [94]:
new_era = 2017

### Task 3: What year had the most number of sets?

In [150]:
clean_df = merged[~merged['set_num'].isnull()]
clean_df['count'] = 1
sets_per_year = clean_df.groupby(['year']).sum().reset_index()[['year', 'count']]
sets_per_year

# for index, row in sets_per_year.iterrows():
#     print(row['year'], row['count'])

<ipython-input-150-d31fbaba5be6>:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    year  count
0   1950      7
1   1953      4
2   1954     14
3   1955     28
4   1956     12
..   ...    ...
61  2013    593
62  2014    715
63  2015    670
64  2016    608
65  2017    438

[66 rows x 2 columns]

In [151]:
sets_per_year.rename(columns = {'count' : 'Number of Sets'}, inplace = True)
sets_per_year

    year  Number of Sets
0   1950               7
1   1953               4
2   1954              14
3   1955              28
4   1956              12
..   ...             ...
61  2013             593
62  2014             715
63  2015             670
64  2016             608
65  2017             438

[66 rows x 2 columns]

In [152]:
# Plot a graph to show the trend using plotly express
fig = px.line(sets_per_year, x="year", y="Number of Sets", title='Number of Sets per Year')
fig.show()